@import "../src/scss/themes/theme-dark.scss";
@import "../src/scss/themes/theme-light.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  height: 100px;
}

.title-styles {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
}

.header-icon {
  height: 150px;
  width: 150px;
}

header {
  position: relative;
  height: 600px;
  min-height: 400px;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  overflow: hidden;
  background-color: #a8d0e6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  // padding-top: 150px;
  // padding-bottom: 0;
}

.icon-switch {
  font-size: 40px;
  cursor: pointer;
}
// .icon-switch:hover {
//   font-size: 70px;
// }
.language-icon:hover {
  transition-duration: 200ms;
  font-size: 50px;
}

.project-date {
  font-size: 16px;
  font-family: "opensans-bold", sans-serif;
  padding: 8px 15px 2px 15px;
  position: relative;
  z-index: -500;
  border-top: 5px solid #696969;
  border-radius: 0 0 5px 5px;
  background-color: #696969;
  color: white;
}

.skills-tile {
  background-color: transparentize(#1f1f1f, 0.95);
  padding: 10px 10px 5px 10px;
  width: 110px;
  margin: 5px 0 5px 0;
  border-radius: 8px;
}

.language {
  font-size: 40px;
  background-color: #a8d0e6;
  height: 100px;
  width: 100%;
}

header h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 600 !important;
  color: #1f1f1f;
  font-family: "opensans-bold", sans-serif;
  margin: 0 auto 18px auto;
  width: 100%;
}

.slider-image {
  border: 4px solid #b1b1b1;
}
.slider-image img {
  object-fit: "cover";
}

.slider-tab {
  background-color: #cfcfcf !important;
  height: 30px;
}

.slider-iconfiy {
  margin-top: 3px;
}

.styles_typicalWrapper__1_Uvh::after {
  cursor: none !important;
  display: none;
}
#navbar {
  position: fixed;
  background: #374785;
  height: 60px;
  width: 100%;
  z-index: 1;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition-duration: 200ms;
}

@media (max-width: 990px) {
  #navbar button {
    display: block !important;
    margin: 15px;
  }
  #navbar h1 {
    opacity: 0;
    transition-duration: 100ms;
  }
  #navbar-open {
    min-height: 150px !important;
    position: fixed;
    background: #374785;
    width: 100%;
    z-index: 1;
    color: white;
    padding: 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition-duration: 200ms;
  }
  #navbar-open h1 {
    opacity: 1 !important;
    padding-top: 1%;
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition-duration: 100ms;
  }
  #navbar-open a {
    color: white;
  }
  #navbar-open button {
    display: block !important;
    margin: 15px;
  }
}

canvas {
  position: absolute;
  background: #374785;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#navbar-open button {
  display: none;
}

#navbar-open h1 {
  opacity: 1 !important;
  padding-top: 1%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition-duration: 100ms;
}
#navbar-open a {
  color: white;
}

#navbar-open {
  position: fixed;
  background: #374785;
  min-height: 60px;
  width: 100%;
  z-index: 1;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition-duration: 200ms;
}

#navbar h1 {
  padding-top: 1%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

#navbar a {
  color: white;
}

#navbar button {
  display: none;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

#about {
  background: #fff;
  overflow: hidden;
  padding-bottom: 60px;
}

#about h1 {
  // padding-top: 5%;
  font: 30px/40px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #1f1f1f;
  text-align: center;
  font-weight: bold;
}

.foto img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.foto div {
  background: #f7f6f6;
  // display: inline-block;
  margin: 0 auto 5% auto;
  padding: 10px 10px 5px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.foto div:after {
  color: #1f1f1f;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.foto div:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.project-title-settings {
  margin-top: 20px;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-align: center;
}

.polaroid img {
  display: block;
  max-width: 270px;
}

.polaroid span {
  background: #ffffff;
  display: inline-block;
  margin: 0px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.link-href {
  color: black;
}

.wave {
  font-size: 160%;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#portfolio {
  background: #a8d0e6;
  padding-bottom: 60px;
}

.portfolio-item {
  max-width: 100%;
  margin-bottom: 25px;
  text-align: center;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  opacity: 0;
  background-color: rgba(51, 51, 51, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio
  .portfolio-item
  .portfolio-item-caption
  .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio .closeButtonResponsive {
    display: block;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

#preview {
  width: 500px;
  background-color: #ffffff;
  padding: 15px;
  position: relative;
  margin-bottom: 15%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resume {
  background: #a8d0e6;
  padding-bottom: 60px;
}

.experience-icon {
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}

.main-badge {
  font-size: 13px !important;
  text-align: left !important;
  padding: 5px 8px 5px 8px !important;
  vertical-align: baseline;
  background-color: transparentize(#1f1f1f, 0.8) !important;
  color: black;
  font-weight: lighter !important;
  font-family: "opensans-bold", sans-serif;
}

.experience-badge {
  font-size: 14px !important;
  text-align: left !important;
  padding: 5px 8px 5px 8px !important;
  vertical-align: baseline;
  background-color: transparentize(#1f1f1f, 0.95) !important;
  color: black;
  font-weight: lighter !important;
  font-family: "opensans-bold", sans-serif;
}

.vertical-timeline-element-date {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 14px !important;
  color: black;
  font-weight: bolder;
}

@media only screen and (max-width: 1170px) {
  .experience-icon {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }
}

.modal-inside .modal-content {
  background: white;
}

.bars {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}

.bars .skills {
  margin-top: 36px;
  list-style: none;
}

.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 42px;
  border-radius: 3px;
}

.bars li em {
  font: 15px "opensans-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -36px;
}

.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}

.modal-close {
  text-align: right;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.close-icon {
  color: black;
  font-weight: lighter !important;
}

.modal-description {
  text-align: justify;
  padding: 5px 5px 0 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "opensans-bold", sans-serif;
}

.awssld__next {
  outline: none !important;
}

.awssld__prev {
  outline: none !important;
}

.loader-bar-color {
  color: black !important;
}

#skills {
  background: #ffffff;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60px;
}

.section-title {
  padding-top: 60px;
  padding-bottom: 60px;
  font: 30px/40px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #1f1f1f;
  text-align: center;
  font-weight: bold;
}

.skill-icon {
  color: 1f1f1f;
  text-align: center;
  position: relative;
}

footer {
  background: #1f1f1f;
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: white;
  position: relative;
  text-align: center;
}

footer a,
footer a:visited {
  color: #fff;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

.social-links {
  margin-top: 7px;
  font-size: 22px;
}
.slider-contain
  > .awssld
  > .awssld__wrapper
  > .awssld__container
  > .awssld__box
  > .awssld__content
  > img {
  object-fit: contain;
}
